@import "_name.scss";
@import "_size.scss";
@import "_comparison.scss";
@import "_velocity.scss";
@import "_assessment.scss";

.detail-container {
  height: calc(100% - 58px);
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgba(10, 10, 10, 0.65098);

  @media (min-width: 1200px) {
    padding: 20px;
  }

  > .row {
    display: inline-block;
    width: 100%;

    &:nth-child(2) {
      margin-bottom: 20px;

      @media (min-width: 1000px) {
        margin-bottom: 25px;
      }
    }

    &:last-child {
      @media (max-width: 999px) {
        max-width: 350px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
