.size-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center;

  @media (min-width: 1000px) {
    width: 55%;
  }

  .size {
    font-size: 3.5em;
    font-weight: bold;
    font-family: Dosis, sans-serif;
    line-height: 1em;

    @media (min-width: 1200px) {
      font-size: 5vw;
    }
  }

  .error {
    font-size: 1.3em;

    @media (min-width: 1200px) {
      font-size: 2vw;
    }
  }
}
