.velocity-container {
  width: 55%;
  padding: 10px;
  box-sizing: border-box;
  float: left;

  .row {
    width: 100%;
    height: 60px;
    float: left;

    @media (min-width: 1200px) {
      height: 5.5vw;
    }

    .image {
      width: 30%;
      height: 100%;
      float: left;
      display: none;

      @media (min-width: 1000px) {
        display: block;
      }
    }

    .number-container {
      width: 70%;
      box-sizing: border-box;
      float: left;

      @media (min-width: 1000px) {
        padding-left: 10px;
      }

      .number-title {
        font-size: .85em;

        @media (min-width: 1200px) {
          font-size: 1.25vw;
        }
      }

      .number-number {
        font-size: 2.3em;
        font-family: Dosis, sans-serif;
        font-weight: bold;

        @media (min-width: 1200px) {
          font-size: 3.5vw;
        }

        .unit {
          font-size: 1.25rem;
          font-weight: normal;

          @media (min-width: 1200px) {
            font-size: 2.5vw;
          }
        }
      }
    }
  }

  .miss-title {
    width: 100%;
    float: left;
    font-size: .85em;

    @media (min-width: 1200px) {
      font-size: 1.25vw;
      margin-top: 25px;
    }
  }

  div.miss-number {
    width: 100%;
    float: left;
    margin-top: 5px;
    font-size: 1.3em;
  }

  span.miss-number {
    font-size: 1.5vw;
  }
}
