@media (min-width: 400px) {
  .assessment-container {
    width: 45%;
  }
}

@media (min-width: 600px) {
  .assessment-container {
    .image {
      height: 13vw;
    }

    .description {
      font-size: 3.5vw;
    }
  }
}
