@media (min-width: 800px) {
  .assessment-container {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .assessment-container {
    .image {
      height: 6.5vw;
    }

    .description {
      font-size: 1.75vw;
    }
  }
}
