.name-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left;

  .neo-container {
    height: 100%;
    float: left;
  }

  .container {
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;

    .id {
      margin-top: 5px;
      font-size: 1.2em;
    }

    .name {
      width: 100%;
      height: 72px;
      margin: 0;
      font-family: Dosis, sans-serif;
      font-size: 1.75em;
      overflow: hidden;
    }
  }
}

@media (min-width: 1000px) {
  .name-container {
    .container {
      .id {
        margin-top: 10px;
      }

      .name {
        height: 50px;
        margin: 8px 0 0 0;
        font-size: 2.5em;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
