.size-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center;

  .size {
    font-size: 3.5em;
    font-weight: bold;
    font-family: Dosis, sans-serif;
    line-height: 1em;
  }

  .error {
    font-size: 1.3em;
  }
}

@media (min-width: 1000px) {
  .size-container {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .size-container {
    .size {
      font-size: 5vw;
    }
    .error {
      font-size: 2vw;
    }
  }
}