.name-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left; }
  .name-container .neo-container {
    height: 100%;
    float: left; }
  .name-container .container {
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    float: left; }
    .name-container .container .id {
      margin-top: 5px;
      font-size: 1.2em; }
    .name-container .container .name {
      width: 100%;
      height: 72px;
      margin: 0;
      font-family: Dosis, sans-serif;
      font-size: 1.75em;
      overflow: hidden; }

@media (min-width: 1000px) {
  .name-container .container .id {
    margin-top: 10px; }
  .name-container .container .name {
    height: 50px;
    margin: 8px 0 0 0;
    font-size: 2.5em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; } }

.size-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center; }
  .size-container .size {
    font-size: 3.5em;
    font-weight: bold;
    font-family: Dosis, sans-serif;
    line-height: 1em; }
  .size-container .error {
    font-size: 1.3em; }

@media (min-width: 1000px) {
  .size-container {
    width: 55%; } }

@media (min-width: 1200px) {
  .size-container .size {
    font-size: 5vw; }
  .size-container .error {
    font-size: 2vw; } }

.comparison-container {
  width: 100%;
  max-width: 220px;
  padding: 17px 10px 10px 10px;
  box-sizing: border-box;
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  .comparison-container .row {
    width: 100%;
    height: 60px;
    float: left; }
    .comparison-container .row .image {
      width: 65%;
      height: 100%;
      float: left; }
    .comparison-container .row .number-container {
      width: 35%;
      height: 100%;
      float: left;
      font-weight: bold;
      font-family: Dosis, sans-serif;
      font-size: 1.5em; }
      .comparison-container .row .number-container .number {
        top: 50%;
        position: relative;
        transform: translateY(-50%); }
  .comparison-container .description {
    width: 100%;
    margin-top: 10px;
    float: left;
    font-size: .75em;
    text-align: center; }

@media (min-width: 1000px) {
  .comparison-container {
    width: 45%;
    max-width: none;
    left: 0;
    transform: none; } }

@media (min-width: 1200px) {
  .comparison-container .row {
    height: 5.5vw; }
    .comparison-container .row .number-container {
      font-size: 3vw; }
  .comparison-container .description {
    font-size: 1.25vw; } }

.velocity-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center; }
  .velocity-container .row {
    width: 100%;
    height: 60px;
    float: left; }
    .velocity-container .row .image {
      width: 30%;
      height: 100%;
      float: left;
      display: none; }
    .velocity-container .row .number-container {
      width: 100%;
      box-sizing: border-box;
      float: left; }
      .velocity-container .row .number-container .number-title {
        font-size: .85em;
        color: #c7c7c7; }
      .velocity-container .row .number-container .number-number {
        font-size: 2.3em;
        font-family: Dosis, sans-serif;
        font-weight: bold; }
        .velocity-container .row .number-container .number-number .unit {
          font-size: 1.25rem;
          font-weight: normal; }
  .velocity-container .miss-title {
    width: 100%;
    float: left;
    font-size: .85em;
    color: #c7c7c7; }
  .velocity-container .miss-small {
    display: block; }
    .velocity-container .miss-small .miss-number {
      width: 100%;
      float: left;
      margin-top: 5px;
      font-size: 1.3em; }
  .velocity-container .miss-big {
    display: none; }

@media (min-width: 1000px) {
  .velocity-container .row .image {
    display: block; }
  .velocity-container .row .number-container {
    padding-left: 10px; } }

@media (min-width: 1200px) {
  .velocity-container .row {
    height: 5.5vw; }
    .velocity-container .row .number-container .number-title {
      font-size: 1.25vw; }
    .velocity-container .row .number-container .number-number {
      font-size: 3.5vw; }
      .velocity-container .row .number-container .number-number .unit {
        font-size: 2.5vw; }
  .velocity-container .miss-title {
    font-size: 1.25vw;
    margin-top: 25px; } }

.assessment-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center; }
  .assessment-container .image {
    width: 100%;
    height: 83px;
    float: left; }
  .assessment-container .description {
    width: 100%;
    margin-top: 10px;
    float: left;
    font-family: Dosis, sans-serif;
    font-weight: bold;
    font-size: 1.3em; }

@media (min-width: 1200px) {
  .assessment-container .image {
    height: 6.5vw; }
  .assessment-container .description {
    font-size: 1.75vw; } }

.detail-container {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  background-color: rgba(10, 10, 10, 0.65098);
  will-change: transform; }
  .detail-container > .row {
    display: inline-block;
    width: 100%; }
    .detail-container > .row:nth-child(2) {
      margin-bottom: 20px; }

.detail-container.small {
  height: calc(100% - 58px); }
  @media (min-width: 1000px) {
    .detail-container.small .name-container .container .id {
      margin-top: 10px; }
    .detail-container.small .name-container .container .name {
      height: 50px;
      margin: 8px 0 0 0;
      font-size: 2.5em;
      text-overflow: ellipsis;
      white-space: nowrap; } }
  @media (min-width: 1000px) {
    .detail-container.small .size-container {
      width: 55%; } }
  @media (min-width: 1200px) {
    .detail-container.small .size-container .size {
      font-size: 5vw; }
    .detail-container.small .size-container .error {
      font-size: 2vw; } }
  @media (min-width: 1000px) {
    .detail-container.small .comparison-container {
      width: 45%;
      max-width: none;
      left: 0;
      transform: none; } }
  @media (min-width: 1200px) {
    .detail-container.small .comparison-container .row {
      height: 5.5vw; }
      .detail-container.small .comparison-container .row .number-container {
        font-size: 3vw; }
    .detail-container.small .comparison-container .description {
      font-size: 1.25vw; } }
  @media (min-width: 800px) {
    .detail-container.small .velocity-container {
      width: 55%;
      text-align: left; } }
  @media (min-width: 1000px) {
    .detail-container.small .velocity-container .row .image {
      display: block; }
    .detail-container.small .velocity-container .row .number-container {
      width: 70%;
      padding-left: 10px; } }
  @media (min-width: 1200px) {
    .detail-container.small .velocity-container .row {
      height: 5.5vw; }
      .detail-container.small .velocity-container .row .number-container .number-title {
        font-size: 1vw; }
      .detail-container.small .velocity-container .row .number-container .number-number {
        font-size: 3.5vw; }
        .detail-container.small .velocity-container .row .number-container .number-number .unit {
          font-size: 2.5vw; }
    .detail-container.small .velocity-container .miss-title {
      font-size: 1vw;
      margin-top: 25px; }
    .detail-container.small .velocity-container .miss-number {
      font-size: 1.5vw; } }
  @media (min-width: 1325px) {
    .detail-container.small .velocity-container .miss-small {
      display: none; }
    .detail-container.small .velocity-container .miss-big {
      display: block; } }
  @media (min-width: 800px) {
    .detail-container.small .assessment-container {
      width: 45%; } }
  @media (min-width: 1200px) {
    .detail-container.small .assessment-container .image {
      height: 6.5vw; }
    .detail-container.small .assessment-container .description {
      font-size: 1.75vw; } }
  @media (min-width: 1200px) {
    .detail-container.small {
      padding: 20px; } }
  @media (min-width: 1000px) {
    .detail-container.small > .row:nth-child(2) {
      margin-bottom: 25px; } }
  @media (max-width: 999px) {
    .detail-container.small > .row:last-child {
      max-width: 350px;
      position: relative;
      left: 50%;
      transform: translateX(-50%); } }

.detail-container.big {
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  left: 0; }
  @media (min-width: 500px) {
    .detail-container.big .name-container .container .id {
      margin-top: 10px; }
    .detail-container.big .name-container .container .name {
      height: 50px;
      margin: 8px 0 0 0;
      font-size: 2.5em;
      text-overflow: ellipsis;
      white-space: nowrap; } }
  @media (min-width: 500px) {
    .detail-container.big .size-container {
      width: 55%; } }
  @media (min-width: 600px) {
    .detail-container.big .size-container .size {
      font-size: 10vw; }
    .detail-container.big .size-container .error {
      font-size: 4vw; } }
  @media (min-width: 500px) {
    .detail-container.big .comparison-container {
      width: 45%;
      max-width: none;
      left: 0;
      transform: none; } }
  @media (min-width: 1200px) {
    .detail-container.big .comparison-container .row {
      height: 11vw; }
      .detail-container.big .comparison-container .row .number-container {
        font-size: 6vw; }
    .detail-container.big .comparison-container .description {
      font-size: 2.5vw; } }
  @media (min-width: 400px) {
    .detail-container.big .velocity-container {
      width: 55%;
      text-align: left; } }
  @media (min-width: 500px) {
    .detail-container.big .velocity-container {
      width: 55%; }
      .detail-container.big .velocity-container .row .image {
        display: block; }
      .detail-container.big .velocity-container .row .number-container {
        width: 70%;
        padding-left: 10px; } }
  @media (min-width: 600px) {
    .detail-container.big .velocity-container .row {
      height: 11vw; }
      .detail-container.big .velocity-container .row .number-container .number-title {
        font-size: 2vw; }
      .detail-container.big .velocity-container .row .number-container .number-number {
        font-size: 7vw; }
        .detail-container.big .velocity-container .row .number-container .number-number .unit {
          font-size: 5vw; }
    .detail-container.big .velocity-container .miss-title {
      font-size: 2vw;
      margin-top: 25px; }
    .detail-container.big .velocity-container .miss-number {
      font-size: 3vw; } }
  @media (min-width: 662px) {
    .detail-container.big .velocity-container .miss-small {
      display: none; }
    .detail-container.big .velocity-container .miss-big {
      display: block; } }
  @media (min-width: 400px) {
    .detail-container.big .assessment-container {
      width: 45%; } }
  @media (min-width: 600px) {
    .detail-container.big .assessment-container .image {
      height: 13vw; }
    .detail-container.big .assessment-container .description {
      font-size: 3.5vw; } }
  @media (min-width: 600px) {
    .detail-container.big {
      padding: 20px; } }
  @media (min-width: 500px) and (min-height: 400px) {
    .detail-container.big {
      height: calc(100vh - 100px); } }
  @media (min-width: 500px) {
    .detail-container.big > .row:nth-child(2) {
      margin-bottom: 25px; } }
  @media (max-width: 499px) {
    .detail-container.big > .row:last-child {
      max-width: 350px;
      position: relative;
      left: 50%;
      transform: translateX(-50%); } }

.detail-transition-enter {
  opacity: 0.01; }

.detail-transition-enter.detail-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.detail-transition-leave {
  opacity: 1; }

.detail-transition-leave.detail-transition-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in; }

.detail-transition-enter {
  opacity: 0.01; }

.detail-transition-enter.detail-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.detail-transition-leave {
  opacity: 1; }

.detail-transition-leave.detail-transition-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in; }

body {
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #122b3a; }

img {
  max-width: 100%; }

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  -webkit-border-radius: 100px; }

::-webkit-scrollbar:hover {
  background-color: rgba(18, 43, 58, 0.09); }

::-webkit-scrollbar-thumb:vertical {
  background: rgba(18, 43, 58, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 6px solid transparent;
  min-height: 10px; }

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(18, 43, 58, 0.61);
  -webkit-border-radius: 100px; }
